<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign work = data[1] | sort: 'startDate' | reverse %}
  {% for content in work %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2 d-flex flex-column align-items-center mb-4">
          {% if content.startDate %}
            {% assign startDate = content.startDate | split: '-' | slice: 0, 2 | join: '.' %}
            {% assign endDate = content.endDate | split: '-' | slice: 0, 2 | join: '.' | default: 'Present' %}
            {% assign date = startDate | append: ' - ' %}
            {% assign date = date | append: endDate %}
          {% else %}
            {% assign date = '' %}
          {% endif %}
          <div style="width: min-content;">
            <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="width: fit-content;"> {{ date }} </span>
            {% if content.img %}
              <div class="mt-2 rounded" style="
                overflow: hidden; 
                width: 100%; 
                aspect-ratio: 1; 
                background-image: url(/assets/img/work/{{ content.img }}); 
                background-size: contain;
              "></div>
            {% endif %}
          </div>
        </div>
        <div class="col-md-10 mt-2 mt-md-0">
          <h6 class="title font-weight-bold ml-1 ml-md-4">{{ content.position }}</h6>
          <h6 class="ml-1 ml-md-4 font-weight-bold" style="font-size: 0.95rem">
            <a href="{{ content.url }}">{{ content.name }}</a>
          </h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ content.summary }}</h6>
          <ul class="items">
            {% for item in content.highlights %}
              <li>
                <span class="item">{{ item }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
